{
  "extends": ["airbnb", "prettier"],
  "plugins": ["sort-imports-es6-autofix"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "import/first": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "react/no-array-index-key": 1,
    "import/prefer-default-export": 1,
    "import/no-named-as-default": 1,
    "react/require-default-props": 1,
    "react/forbid-prop-types": 1,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "sort-imports-es6-autofix/sort-imports-es6": [
      2,
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "no-plusplus": 0,
    "no-minusminus": 0
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
