body {
  font-family: sans-serif;
  min-height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  */
.btn-main,
.btn-main:hover {
  background-color: #027bff;
  border-color: #027bff;
  color: #ffffff;
}
.btn-main:focus {
  box-shadow: 0 0 0 0.2rem rgba(2, 123, 255, 0.5);
}
.card-header .dropdown-item.active,
.card-header .dropdown-item:active {
  background-color: transparent;
  outline: 0 none;
}
/* Inline Modal Comment editing */
.inner-filter input.form-control {
  font-size: 0.8rem;
  padding: .32rem .75rem;
}
.inner-filter .modal-body .form-group {
  margin-bottom: 5px;
}
.inner-filter .modal-footer .btn {
  line-height: 1;
}
.filter-comment-edit {
  display: inline-table;
}
.filter-comment-edit .comment-edit-col {
  display: table-cell;
  vertical-align: baseline;
  white-space: nowrap;
  min-width: 80px;
}

/**/
.card-header span {
  vertical-align: middle;
}

.number-field {
  width:50%
}
