body {
  font-family: sans-serif;
  min-height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  */
.btn-main,
.btn-main:hover {
  background-color: #027bff;
  border-color: #027bff;
  color: #ffffff;
}
.btn-main:focus {
  box-shadow: 0 0 0 0.2rem rgba(2, 123, 255, 0.5);
}
.card-header .dropdown-item.active,
.card-header .dropdown-item:active {
  background-color: transparent;
  outline: 0 none;
}

.margin-top-1 {
  margin-top: 10px;
}
.font-small-gray {
  color: #6c757c;
  font-size: 14px;
}